@{
    ViewBag.Title = "Contacto";
}

<h3>Jonathan Reyes</h3>

<address>
    Desarrollador Sr .NET<br />
    554.447.1414<br />
    CDMX, México
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:jonathanreyesolea@gmail.com">JonathanReyesOlea@gmail.com</a><br />
</address>